// color scheme: https://www.canva.com/colors/color-palettes/country-skyline/

// Colors
$orange: #eb773e;
$yellow: #f7b301;
$cyan: #73d9f0;
$blue: #1966b0;

$color-primary: $blue;
$color-secondary: $yellow;
